In [60]:
import pandas as pd

In [61]:
df = pd.DataFrame([
    [1,"Bottle", 500],
    [2,"Lunch Box", 500],
    [3,"Books", 100],
    [4,"Pen", "10"],
    [5,"calculator", 150],
    ], columns=["ProductID", "ProductName", "ProductPrice"])

In [62]:
df.set_index('ProductID')

          ProductName ProductPrice
ProductID
1              Bottle          500
2           Lunch Box          500
3               Books          100
4                 Pen           10
5          calculator          150

In [63]:
df.ProductName

0        Bottle
1     Lunch Box
2         Books
3           Pen
4    calculator
Name: ProductName, dtype: object

In [64]:
df.ProductPrice

0    500
1    500
2    100
3     10
4    150
Name: ProductPrice, dtype: object

In [65]:
df.loc[0]

ProductID            1
ProductName     Bottle
ProductPrice       500
Name: 0, dtype: object

In [66]:
df.loc[1]

ProductID               2
ProductName     Lunch Box
ProductPrice          500
Name: 1, dtype: object

In [67]:
df.loc[2]

ProductID           3
ProductName     Books
ProductPrice      100
Name: 2, dtype: object

In [68]:
df.loc[3]

ProductID         4
ProductName     Pen
ProductPrice     10
Name: 3, dtype: object

In [69]:
df.loc[4]

ProductID                5
ProductName     calculator
ProductPrice           150
Name: 4, dtype: object

In [70]:
df.iloc[2:]['ProductName']

2         Books
3           Pen
4    calculator
Name: ProductName, dtype: object

In [71]:
df.iloc[2].ProductPrice

100

In [72]:
df.iloc[1:].ProductName

1     Lunch Box
2         Books
3           Pen
4    calculator
Name: ProductName, dtype: object

In [73]:
df.iloc[:3].ProductPrice

0    500
1    500
2    100
Name: ProductPrice, dtype: object

In [74]:
df.iloc[[0,2], 2]

0    500
2    100
Name: ProductPrice, dtype: object

In [75]:
# create a studnts dataframe which marks and subject
import numpy as np
df = pd.DataFrame(np.random.randint(1,100, (4,3)), columns=["Maths", "Science", "English"], index=["Rohan", "Mohan", "Soham", "Deva"])

In [76]:
df

       Maths  Science  English
Rohan     49        1       91
Mohan     34       31       34
Soham     34       92       56
Deva       1        8       15

In [77]:
df.loc[df.Maths<40, "Maths"] = 41
# df.Maths = list(map(lambda x: 41 if x < 40 else x, df.Maths))
df

       Maths  Science  English
Rohan     49        1       91
Mohan     41       31       34
Soham     41       92       56
Deva      41        8       15

In [78]:
df + 2

       Maths  Science  English
Rohan     51        3       93
Mohan     43       33       36
Soham     43       94       58
Deva      43       10       17

In [79]:
df[df['Science']>60 & df['Maths']]

       Maths  Science  English
Soham     41       92       56

In [80]:
list(filter(lambda x: x if x[0] == "S" else None, df.index))

['Soham']

In [81]:
list(filter(lambda x: x if x[-1] == "a" else None, df.index))

['Deva']

In [82]:
df["Total"] = [sum(df.iloc[i, :])for i in range(len(df.Maths))]
df

       Maths  Science  English  Total
Rohan     49        1       91    141
Mohan     41       31       34    106
Soham     41       92       56    189
Deva      41        8       15     64

In [83]:
df["Percentage"] = [float(format(df.iloc[i, 3]/3, '.2f')) for i in range(len(df.Total))]
df

       Maths  Science  English  Total  Percentage
Rohan     49        1       91    141       47.00
Mohan     41       31       34    106       35.33
Soham     41       92       56    189       63.00
Deva      41        8       15     64       21.33

In [84]:
df["Status"] = ['','','','']
df.loc[df["Percentage"] < 50, "Status"] = "Fail"
df.loc[df["Percentage"] >= 50, "Status"] = "Pass"
df

       Maths  Science  English  Total  Percentage Status
Rohan     49        1       91    141       47.00   Fail
Mohan     41       31       34    106       35.33   Fail
Soham     41       92       56    189       63.00   Pass
Deva      41        8       15     64       21.33   Fail

In [85]:
df["Grade"] = ["" for i in range(len(df.Percentage))]
for i in range(len(df.Percentage)):
    if df.Percentage[i] >= 90: 
        df.Grade[i] = "A-Grade"
    elif df.Percentage[i] >= 80:
        df.Grade[i] = "B-Grade"
    elif df.Percentage[i] >= 70:
        df.Grade[i] = "C-Grade"
    elif df.Percentage[i] >= 60:
        df.Grade[i] = "D-Grade"
    elif df.Percentage[i] >= 50:
        df.Grade[i] = "E-Grade"
    elif df.Percentage[i] < 50:
        df.Grade[i] = "F-Grade"
df

C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if df.Percentage[i] >= 90:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 80:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 70:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 60:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 50:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] < 50:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.Grade[i] = "F-Grade"
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Grade[i] = "F-Grade"
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:14: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.Grade[i] = "F-Grade"
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if df.Percentage[i] >= 90:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 80:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 70:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 60:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 50:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] < 50:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Grade[i] = "F-Grade"
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:14: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.Grade[i] = "F-Grade"
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if df.Percentage[i] >= 90:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 80:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 70:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 60:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Grade[i] = "D-Grade"
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:10: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.Grade[i] = "D-Grade"
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if df.Percentage[i] >= 90:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 80:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 70:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 60:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] >= 50:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif df.Percentage[i] < 50:
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Grade[i] = "F-Grade"
C:\Users\blood\AppData\Local\Temp\ipykernel_21636\641639518.py:14: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.Grade[i] = "F-Grade"

       Maths  Science  English  Total  Percentage Status    Grade
Rohan     49        1       91    141       47.00   Fail  F-Grade
Mohan     41       31       34    106       35.33   Fail  F-Grade
Soham     41       92       56    189       63.00   Pass  D-Grade
Deva      41        8       15     64       21.33   Fail  F-Grade

In [86]:
df.describe().loc["min"]

Maths         41.00
Science        1.00
English       15.00
Total         64.00
Percentage    21.33
Name: min, dtype: float64

In [87]:
df.describe().loc["max"]

Maths          49.0
Science        92.0
English        91.0
Total         189.0
Percentage     63.0
Name: max, dtype: float64

In [88]:
df.describe().loc["std"]

Maths          4.000000
Science       41.368265
English       32.629230
Total         53.022008
Percentage    17.675679
Name: std, dtype: float64

In [89]:
df.to

       Maths    Science   English       Total  Percentage
count    4.0   4.000000   4.00000    4.000000    4.000000
mean    43.0  33.000000  49.00000  125.000000   41.665000
std      4.0  41.368265  32.62923   53.022008   17.675679
min     41.0   1.000000  15.00000   64.000000   21.330000
25%     41.0   6.250000  29.25000   95.500000   31.830000
50%     41.0  19.500000  45.00000  123.500000   41.165000
75%     43.0  46.250000  64.75000  153.000000   51.000000
max     49.0  92.000000  91.00000  189.000000   63.000000